@import url(http://code.ngoldman.me/style.css/style.css);

.markdown-body figure img {
  border: 1px solid #ddd;
  max-width: 98%;
}

@media (max-width: 768px) {
  .site-nav .site-nav-right {
    display: none;
  }
}
