@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  background: #fafafa;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f3f3f1;
}

/* Type & Layout
-------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oxygen', sans-serif;
}

.content {
  padding-bottom: 50px;
}

code {
  font-size: 80%;
}

.page-header {
  background: #fff;
  margin-top: 0;
  padding: 30px 20px;
  border-bottom: none;
  box-shadow: 0 2px 5px rgba(0,0,0,.05);
}
.page-title {
  margin: 0;
  text-align: center;
}

/* Objects
-------------------------------------------------- */

.sidebar {
  background: #f3f3f1;
  border-radius: 0 0 10px 0;
  padding: 25px 15px 1px;
  margin-bottom: 25px;
}
.sidebar .elsewhere {
  margin-bottom: 15px;
}

.identity {}
.identity .avatar {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}
.identity .name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.projects {
  color: inherit;
}
.projects .media-heading {
  font-size: 30px;
}

.post {}
.post header {
  border-bottom: 1px solid #aeaeac;
}
.post .timestamp {
  color: #887;
  font-size: 11px;
  font-weight: 300;
}

/* Footer
-------------------------------------------------- */

#footer > .container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* helpers */

.leader-0{margin-top:0px}.trailer-0{margin-bottom:0px}.leader-1{margin-top:24px}.trailer-1{margin-bottom:24px}.leader-2{margin-top:48px}.trailer-2{margin-bottom:48px}.leader-3{margin-top:72px}.trailer-3{margin-bottom:72px}.leader-4{margin-top:96px}.trailer-4{margin-bottom:96px}.leader-5{margin-top:120px}.trailer-5{margin-bottom:120px}.leader-half{margin-top:12px}.trailer-half{margin-bottom:12px}.padding-leader-0{padding-top:0px}.padding-trailer-0{padding-bottom:0px}.padding-leader-1{padding-top:24px}.padding-trailer-1{padding-bottom:24px}.padding-leader-2{padding-top:48px}.padding-trailer-2{padding-bottom:48px}.padding-leader-3{padding-top:72px}.padding-trailer-3{padding-bottom:72px}.padding-leader-4{padding-top:96px}.padding-trailer-4{padding-bottom:96px}.padding-leader-5{padding-top:120px}.padding-trailer-5{padding-bottom:120px}.padding-leader-half{padding-top:12px}.padding-trailer-half{padding-bottom:12px}
