<aside class="sidebar leader-3 col-sm-3 col-md-2">
  <header class="identity trailer-1">
    <h1 class="name text-center leader-half"><a href="/">Nate Goldman</a></h1>
    <p class="text-center"><small>Designer &amp; Developer &amp; Organizer in Portland, Oregon</small></p>
  </header>
  <div class="primary-nav list-group">
    <!-- <a class="list-group-item {% if section && section == 'blog' %}active{% endif %}" href="/posts/">
      <i class="fa fa-fw fa-file-text-o"></i>&nbsp; Blog
    </a> -->
    <a class="list-group-item {% if section && section == 'projects' %}active{% endif %}" href="/projects/">
      <i class="fa fa-fw fa-code-fork"></i>&nbsp; Projects
    </a>
    <a class="list-group-item {% if section && section == 'about' %}active{% endif %}" href="/about/">
      <i class="fa fa-fw fa-floppy-o"></i>&nbsp; About
    </a>
  </div>

  <div class="elsewhere panel panel-default hidden-xs">
    <div class="panel-heading">Elsewhere</div>
    <ul class="list-group">
      <a class="list-group-item" href="https://github.com/ngoldman" rel="me">
        <i class="fa fa-fw fa-github"></i>&nbsp; Github
      </a>
      <a class="list-group-item" href="https://twitter.com/ungoldman" rel="me">
        <i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter
      </a>
      <a class="list-group-item" href="http://instagram.com/brutaldiss">
        <i class="fa fa-fw fa-instagram"></i>&nbsp; Instagram
      </a>
      <a class="list-group-item" href="mailto:nate@ngoldman.me" rel="me">
        <i class="fa fa-fw fa-envelope"></i>&nbsp; Email
      </a>
    </ul>
  </div>
</aside>
