<aside class="sidebar col-sm-3 col-md-2">
  <header class="identity leader-2 trailer-2">
    <h1 class="name text-center leader-0"><a href="/">Nate Goldman</a></h1>
    <p class="text-center"><small>Designer &amp; Developer</small></p>
  </header>
  <div class="primary-nav list-group">
    <!-- <a class="list-group-item {% if section && section == 'blog' %}active{% endif %}" href="/posts/">
      <i class="fa fa-fw fa-file-text-o"></i>&nbsp; Blog
    </a> -->
    <a class="list-group-item {% if section && section == 'home' %}active{% endif %}" href="/">
      <i class="fa fa-fw fa-home"></i>&nbsp; Home
    </a>
    <a class="list-group-item {% if section && section == 'projects' %}active{% endif %}" href="/projects/">
      <i class="fa fa-fw fa-code-fork"></i>&nbsp; Projects
    </a>
    <a class="list-group-item {% if section && section == 'about' %}active{% endif %}" href="/about/">
      <i class="fa fa-fw fa-floppy-o"></i>&nbsp; About
    </a>
    <a class="list-group-item" href="https://github.com/ngoldman" rel="me">
      <i class="fa fa-fw fa-github"></i>&nbsp; Github
    </a>
    <a class="list-group-item" href="https://twitter.com/ungoldman" rel="me">
      <i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter
    </a>
    <a class="list-group-item" href="http://instagram.com/brutaldiss">
      <i class="fa fa-fw fa-instagram"></i>&nbsp; Instagram
    </a>
    <a class="list-group-item" href="mailto:nate@ngoldman.me" rel="me">
      <i class="fa fa-fw fa-envelope"></i>&nbsp; Email
    </a>
  </div>
</aside>
