<!doctype html>
<html lang="en" class="index">
<head>
  <meta charset="UTF-8">
  <title>Nate Goldman</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/components/Bootflat/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/components/Bootflat/bootflat/css/bootflat.min.css">
  <link rel="stylesheet" href="/assets/components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/base.css">
</head>
<body>

<div id="wrap">
  <div class="container">
    <div class="row">

      <aside class="sidebar leader-3 col-sm-3 col-md-2">
        <header class="identity trailer-1">
          <h1 class="name text-center leader-half"><a href="/">Nate Goldman</a></h1>
          <p class="text-center"><small>Designer &amp; Developer &amp; Organizer in Portland, Oregon</small></p>
        </header>
        <div class="primary-nav list-group">
          <a class="list-group-item" href="/posts/">
            <i class="fa fa-fw fa-file-text-o"></i>&nbsp; Blog
          </a>
          <a class="list-group-item" href="/projects/">
            <i class="fa fa-fw fa-code-fork"></i>&nbsp; Projects
          </a>
          <a class="list-group-item" href="/about/">
            <i class="fa fa-fw fa-floppy-o"></i>&nbsp; About
          </a>
        </div>

        <div class="elsewhere panel panel-default hidden-xs">
          <div class="panel-heading">Elsewhere</div>
          <ul class="list-group">
            <a class="list-group-item" href="https://github.com/ngoldman" rel="me">
              <i class="fa fa-fw fa-github"></i>&nbsp; Github
            </a>
            <a class="list-group-item" href="https://twitter.com/ungoldman" rel="me">
              <i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter
            </a>
            <a class="list-group-item" href="http://instagram.com/brutaldiss">
              <i class="fa fa-fw fa-instagram"></i>&nbsp; Instagram
            </a>
            <a class="list-group-item" href="mailto:nate@ngoldman.me" rel="me">
              <i class="fa fa-fw fa-envelope"></i>&nbsp; Email
            </a>
          </ul>
        </div>
      </aside>

      <main class="col-sm-8 col-sm-offset-1 leader-3 padding-trailer-1">
        <div class="row">
          <div class="col-sm-9">
            <h4><i class="fa fa-info-circle"></i> A website appears!</h4>
            <h6><i class="fa fa-cube"></i> You are given several choices:</h6>

            <div class="list-group">
              <a href="/posts/" class="list-group-item">
                <i class="fa fa-fw fa-file-text-o"></i> Read some words that I put on the internet.
              </a>
              <a href="/projects/" class="list-group-item">
                <i class="fa fa-fw fa-code-fork"></i> Fork one of my projects, I need help.
              </a>
              <a href="/about/" class="list-group-item">
                <i class="fa fa-fw fa-floppy-o"></i> Find out a little more about me.
              </a>
              <a href="http://twitter.com/ungoldman" class="list-group-item">
                <i class="fa fa-fw fa-comment-o"></i> Talk to me on twitter, because why not?
              </a>
            </div>

            <h6><i class="fa fa-cubes"></i> Alternately, I recommend doing the following:</h6>

            <div class="list-group">
              <a href="http://codeforportland.org" class="list-group-item">
                <h4 class="list-group-item-heading">
                  <i class="fa fa-fw fa-code"></i> Come to a Code for Portland hack night
                </h4>
                <p class="list-group-item-text">Worth checking out if you're in Portland and want to get into civic hacking and figure out ways to make our city better.</p>
              </a>
              <a href="http://www.maptime.io/chapters/" class="list-group-item">
                <h4 class="list-group-item-heading">
                  <i class="fa fa-fw fa-map-marker"></i> Check out a Maptime group near you
                </h4>
                <p class="list-group-item-text">Maptime is the place to be if you're interested in learning about maps on the web! Very beginner friendly.</p>
              </a>
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>
</div>

<aside class="sidebar visible-xs-block">
  <div class="elsewhere panel panel-default">
    <div class="panel-heading">Elsewhere</div>
    <ul class="list-group">
      <a class="list-group-item" href="https://github.com/ngoldman" rel="me">
        <i class="fa fa-fw fa-github"></i>&nbsp; Github
      </a>
      <a class="list-group-item" href="https://twitter.com/ungoldman" rel="me">
        <i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter
      </a>
      <a class="list-group-item" href="http://instagram.com/brutaldiss">
        <i class="fa fa-fw fa-instagram"></i>&nbsp; Instagram
      </a>
      <a class="list-group-item" href="mailto:nate@ngoldman.me" rel="me">
        <i class="fa fa-fw fa-envelope"></i>&nbsp; Email
      </a>
    </ul>
  </div>
</aside>

</body>
</html>
