{% extends "./_base.html" %}
{% block content %}
{% if posts.length %}
<h3 class="trailer-2"><i class="fa fa-fw fa-file-text-o"></i> Words</h3>
<div class="row">
  <div class="col-sm-9">
    <table class="table">
      {% for post in posts %}
      <tr>
        <td>
          <a href="/{{ post.path }}/"><i class="fa fa-fw fa-file-text-o"></i> {{ post.title }}</a>
        </td>
        <td>
          <time class="timestamp pull-right">{{ post.date | date('F jS, Y') }}</time>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}

{% if !posts.length %}
<h3 class="trailer-2"><i class="fa fa-fw fa-warning"></i> Under Construction</h3>
<img src="https://camo.githubusercontent.com/4a7cf94aedbd23c13cc2d75fdc3b2af5c816c208/687474703a2f2f7374617469632e646967672e636f6d2f7374617469632f696d616765732f6469676765722e676966">
{% endif %}
{% endblock %}
