<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nate Goldman | Designer, Developer, Organizer</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/components/Bootflat/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/components/Bootflat/bootflat/css/bootflat.min.css">
  <link rel="stylesheet" href="/assets/components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/base.css">
</head>
<body>

<div id="wrap">
  <div class="container-fluid">
    <div class="row">

      <aside class="sidebar col-sm-3 col-md-2">
        <header class="identity trailer-1">
          <a href="/"><img class="avatar img-circle" src="http://www.gravatar.com/avatar/5f7be8ce4d2d0ac740b1c56b07d7404b.png?s=512&d=identicon"></a>
          <h1 class="name text-center leader-half">Nate Goldman</h1>
          <p class="text-center"><small>Designer &amp; Developer &amp; Organizer in Portland, Oregon</small></p>
        </header>
        <div class="primary-nav list-group">
          <a class="list-group-item active" href="/posts/">
            <i class="fa fa-fw fa-file-text-o"></i>&nbsp; Blog
          </a>
          <a class="list-group-item" href="/projects/">
            <i class="fa fa-fw fa-paper-plane"></i>&nbsp; Projects
          </a>
          <a class="list-group-item" href="/about/">
            <i class="fa fa-fw fa-rebel"></i>&nbsp; About
          </a>
        </div>

        <div class="elsewhere panel panel-default">
          <div class="panel-heading">Elsewhere</div>
          <ul class="list-group">
            <a class="list-group-item" href="https://github.com/ngoldman" rel="me">
              <i class="fa fa-fw fa-github"></i>&nbsp; Github
            </a>
            <a class="list-group-item" href="https://twitter.com/ungoldman" rel="me">
              <i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter
            </a>
            <a class="list-group-item" href="https://soundcloud.com/freshdragon">
              <i class="fa fa-fw fa-soundcloud"></i>&nbsp; Soundcloud
            </a>
            <a class="list-group-item" href="http://instagram.com/brutaldiss">
              <i class="fa fa-fw fa-instagram"></i>&nbsp; Instagram
            </a>
            <a class="list-group-item" href="mailto:nate@ngoldman.me" rel="me">
              <i class="fa fa-fw fa-envelope"></i>&nbsp; Email
            </a>
          </ul>
        </div>
      </aside>

      <main class="posts col-sm-5 col-md-6 col-sm-offset-1 col-md-offset-1 leader-2">
        <h1 class="trailer-2"><i class="fa fa-file-text-o"></i> Blog</h1>

        {% if posts.length %}
        <div class="list-group">
        {% for post in posts %}

        <a href="/{{ post.path }}/" class="list-group-item">
          <h4 class="list-group-item-heading">{{ post.title }}</h4>
          <p class="list-group-item-text"><time class="timestamp">{{ post.date | date('F jS, Y') }}</time></p>
        </a>

        {% endfor %}
        </div>
        {% endif %}
      </main>

    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted pull-left">Hmmm</p>
    <p class="text-muted pull-right">Interesting</p>
  </div>
</div>

</body>
</html>
